@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Recreational Sport League</h1>
    <p>This simple web app is used to create matches between teams</p>
    <p>
        You can manage teams, seasons, referees, matches, and standings —
        create, view, edit, and delete records.
    </p>
</div>